@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 176 30% 96%;
    --foreground: 190 64% 14%;
    --card: 0 0% 100%;
    --card-foreground: 190 64% 14%;
    --popover: 0 0% 100%;
    --popover-foreground: 190 64% 14%;
    --primary: 187 85% 20%;
    --primary-foreground: 180 30% 98%;
    --secondary: 180 28% 94%;
    --secondary-foreground: 187 85% 20%;
    --muted: 180 24% 92%;
    --muted-foreground: 194 18% 42%;
    --accent: 187 38% 88%;
    --accent-foreground: 187 85% 20%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 185 24% 86%;
    --input: 185 24% 86%;
    --ring: 187 85% 20%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground antialiased;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
